body {
    font-family: Calibri;
    color: royalblue;
    text-align: center;
}
h1 {
    font-size: 70px;
}

ul {
    list-style-position: inside;
    width: 375px;
    margin: 0 auto;
}
li {
    text-align: left;
    font-size: 40px;
    width: 50%;
}